<html xmlns:th="http://thymeleaf.org">
<head>
<head>
<title>Specific Transaction</title>
<link rel="stylesheet" href="/css/transactions.css" />
</head>
<body>




	<form>
		<h1 th:text="${specificTransactions.id}">Transaction ID:</h1>
		<p style="margin-bottom: 0em">Date:</p>
		<p style="margin-top: 0em">Amount:</p>
		<p style="margin-top: 0em">Description:</p>
		<!-- I need to double up style tags or something to get the words closer together then I need to make the back button -->
		<!-- different and then import the values into their correct spots. All of this is overwhelming-->

		<a href="transactionsView"><button>back</button></a>
	</form>


</body>


</html>